
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Coding Library</strong> by <a href="https://google.com">Garrett, Eddie, & Ray</a>
                </p>
            </div>
        </footer>