<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <i class="page-logo fas fa-code"></i>
        </div>
        <a class="navbar-item page-title" href="/">Coding Resources</a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item hvr-grow" href="/saved">
                <span class="icon">
                    <i class="fas fa-save"></i>
                </span>
                <strong>Saved Resources</strong>
            </a>
            <a class="navbar-item hvr-grow" href="/create">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <strong>Create New</strong>
            </a>
            <a class="navbar-item hvr-grow" href="/manage">
                <span class="icon">
                    <i class="fas fa-tag"></i>
                </span>
                <strong>Manage Tags</strong>
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a id="logout" class="button" href="/logout">
                        <strong class="has-text-light">Logout</strong>
                    </a>
                </div>
            </div>
        </div>
</nav>