<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <i class="page-logo fas fa-code"></i>
        </div>
        <a class="navbar-item page-title">Coding Resources</a>
    </div>
</nav>
