<div data-id="{{id}}" class="card">
    <header class="card-header">
        <p class="card-header-title">
            <a class="resource-name" href="{{link}}" target="_blank">{{resourceName}}</a>
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            {{description}}
            <br>
            Tags
        </div>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item">Save</a>
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
    </footer>
</div>