
<div data-aos="fade-right">
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            <a href="{{link}}" target="_blank">{{resourceName}}</a>
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <p>{{description}}</p>
            <br>
            <p>Tags</p>
        </div>
    </div>
    <footer class="card-footer">
        <a data-id="{{id}}" class="save-resource card-footer-item hvr-sweep-to-right"><strong>Save</strong></a>
        {{!-- <a class="edit-resource card-footer-item hvr-sweep-to-right"><strong>Edit</strong></a> --}}
    </footer>
</div>
</div>