<div data-id="{{id}}" class="card">
    <header class="card-header">
        <p class="card-header-title hvr-sweep-to-right">
            <a href="{{link}}" target="_blank">{{resourceName}}</a>
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <p>{{description}}</p>
            <br>
            <p>Tags</p>
        </div>
    </div>
    <footer class="card-footer">
        <a id="save-res-btn" class="card-footer-item hvr-sweep-to-right"><strong>Save</strong></a>
        <a id="edit-res-btn" class="card-footer-item hvr-sweep-to-right"><strong>Edit</strong></a>
    </footer>
</div>