<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title>Project 2</title>
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/script.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>