{{> navbar-full}}
<section class="section">
    <div class="container form-size">
        <div class="columns">
            <div class="column form-container">
                {{> create-resource}}
            </div>
        </div>
    </div>
</section>


  

