<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <i class="fas fa-code fa-3x"></i><span class="title"> Coding Resources</span>
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/addResource">
            <strong>Add Resource</strong>
          </a>
          <a class="button is-light" href="/addUser">
            <strong>Add User</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="section">
  <div class="content">
    <h4>Resources</h4><hr>
    <div class="panel list-group">
      <a class="panel-block list-group-item is-primary">1. Lorem ipsum dolor sit amet.</a>
      <a class="panel-block list-group-item is-info">2. Lorem ipsum dolor sit amet.</a>
      <a class="panel-block list-group-item is-success">3. Lorem ipsum dolor sit amet.</a>
      <a class="panel-block list-group-item is-warning">4. Lorem ipsum dolor sit amet.</a>
      <a class="panel-block list-group-item is-danger">5. Lorem ipsum dolor sit amet.</a>
      <a class="panel-block list-group-item">6. Lorem ipsum dolor sit amet.</a>
      <a class="panel-block list-group-item">7. Lorem ipsum dolor sit amet.</a>
    </div>
  </div>
</section>