
{{>navbar-full}}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {{#each resources}}
                {{> resource-block}}
                {{/each}}
            </div>
        </div>
    </div>
</section>