<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <i class="fas fa-code fa-2x"></i>
    </div>
    <h1 class="navbar-item page-title">Coding Resources</h1>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a id="saved-resources" class="button is-primary">
          <strong>Saved Resources</strong>
        </a>
        <a id="logout" class="button" href="/logout">
          <strong class="has-text-light">Logout</strong>
        </a>
      </div>
    </div>
  </div>
</nav>


{{> card }}