{{>navbar-full}}
<section class="section">
    <div class="container">
        <h1 id="saved-resources-title" class="title has-text-centered"><i class="fas fa-save"></i> {{username}}'s Saved Resources</h1>
        <div class="columns">
            <div class="column">
                {{#each resources}}
                {{> resource}}
                {{/each}}
            </div>
        </div>
    </div>
</section>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>