{{>navbar-full}}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {{#each resources}}
                {{> resource}}
                {{/each}}
            </div>
        </div>
    </div>
</section>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>