{{>navbar-restricted}}


<div data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="1500">

    <section class="section pt-3">
        {{>register-form}}
    </section>
</div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>