<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <i class="fas fa-code fa-2x"></i>
        </div>
        <h1 class="navbar-item page-title">Coding Resources</h1>
    </div>
</nav>
<section class="section">
    <div class="container form-size">
        <div class="columns is-centered">
            <div class="column form-container">
                <h3 class="is-size-2 form-title">Sign Up</h3>
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Choose a username">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control has-text-centered">
                        <button id="signup-btn" class="button is-link"><strong>Sign Up</strong></button>
                    </div>
                </div>
                <div class="field is-grouped redirect-link">
                    <p>Already have a username? <a class="is-link" href="/login">login here!</a></p>
                </div>
            </div>
        </div>
    </div>
</section>