/* GENERAL */
/* ========================================== */
html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background-color: #78909c;
  color: #4a4a4a;
}

section.section {
  padding-top: 0;
}

section.section.pt-3 {
  padding-top: 3rem;
}

#saved-resources-title,
#create-title,
#tags-title {
  color: #f4f4f9;
}

#create-title { 
  padding-bottom: .5rem;
}

.form-size {
  width: 70%;
}

.form-title {
  margin-bottom: 2rem;
}

.column.form-container {
  padding: 3rem;
}

.form-container {
  border: solid 2px #18dbd0;
  border-radius: 5px 5px;
  background-color: #f4f4f9;
}

.label {
  color: #4a4a4a;
}

.button.is-link {
  background-color: #70e6df;
}
.button.is-link:hover {
  background-color: #18dbd0;
}

.select:not(.is-multiple):not(.is-loading)::after, 
.field.has-addons .control .select select:not([disabled]):active,
.field.has-addons .control .select select:not([disabled]):focus,
.input:active, .input:focus,
.textarea:active, .textarea:focus  {
  border-color: #18dbd0;
}

/* REGISTER */
/* ========================================== */
.redirect-link {
  margin-top: 2rem;
}

.redirect-link p a {
  color: #18dbd0; 
  font-weight: 700;
}
.redirect-link p a:hover,
.redirect-link p a:active,
.redirect-link p a:focus {
  text-decoration: underline;
  outline: none;
}

/* NAVBAR */
/* ========================================== */
.navbar {
  background-color: #f4f4f9;
  border-bottom: solid 6px #18dbd0;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.page-logo {
  font-size: 2rem;
}

.page-title,
.page-title:hover {
  padding-left: 0;
  color: #4a4a4a!important;
  font-weight: 700;
  font-size: 2rem;
}

.navbar-start {
  align-items: center;
}

a.navbar-item {
  color: #4a4a4a;
}
a.navbar-item:hover,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:active {
  background-color: #18dbd0;
  color: #f4f4f9;
  border-radius: 5px;
  outline: none;
}

/* RESOURCE CARDS */
/* ========================================== */
.card {
  background-color: #f4f4f9;
  margin-bottom: 1rem;
}

.card-header {
  background-color: #18dbd0;
}

.card-header-title a,
.card-header-title a:hover {
  color: #f4f4f9;
  font-size: 1.5rem;
  font-weight: 700;
}

.link-icon {
  font-size: 1rem;
}
.link-icon:hover {
  font-size: 1.25rem;
}

a.card-footer-item {
  color: #18dbd0;
  display: flex;
}
a.card-footer-item:hover {
  color: #f4f4f9;
}

/* BUTTONS */
/* ========================================== */
.button {
  border: none;
}

#logout, .delete-tag {
  background-color: rgb(255, 121, 97);
  color: #f4f4f9;
}
#logout:hover, .delete-tag:hover {
  background-color: tomato;
  color: #f4f4f9;
}

#create-resource,
#search-btn,
#add-tag-btn,
#added-tag-list .button,
#create-tag-btn,
.tag:not(body).is-color  {
  background-color: #70e6df;
  color: #f4f4f9;
}
#create-resource:hover,
#search-btn:hover,
#add-tag-btn:hover,
#create-tag-btn:hover {
  background-color: #18dbd0;
  color: #f4f4f9;
}

/* TAGS */
/* ========================================== */
.field.has-addons {
  align-items: center;
}

.full-tag-list {
  padding-bottom: 1rem;
}

.panel-block {
  justify-content: space-between;
}

.panel a {
  cursor: default;
}

.tag {
  margin-right: .25rem;
}

.tag-container {
  width: 50%;
}

.panel-block:not(:last-child),
.panel-block:last-child,
.panel-block:not(:last-child):hover,
.panel-block:last-child:hover  {
  background-color: #f4f4f9;
  color: #4a4a4a;
  border-left: 6px solid #18dbd0;
  margin-bottom: .5rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Hover.css - https://github.com/IanLunn/Hover/blob/master/css/hover.css */
/* ========================================== */
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #18dbd0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* MEDIA QUERY */
/* ========================================== */
@media screen and (max-width: 600px) {
  .navbar {
    margin-bottom: 1rem;
  }
  .form-title {
    margin-bottom: 1rem;
  }
  .form-size {
    width: 95%;
  }
  .tag-container {
    width: 95%;
  }
  .page-title, .page-logo {
    font-size: 1.25rem;
  }
  #saved-resources-title {
    font-size: 1rem;
  }
  .column.form-container {
    padding: 1.5rem;
  }
  .redirect-link {
    margin-top: 1rem;
    font-size: 0.75rem;
  }
  .card-header-title a, .card-header-title a:hover {
    font-size: 1.25rem;
  }
}
