html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

body {
  background-color: #78909c;
  color: #4a4a4a;
}

a {
  color: #18dbd0;
}

.navbar {
  background-color: #f4f4f9;
  border-bottom: solid 6px #18dbd0;
  margin-bottom: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.page-title {
  padding-left: 0;
  color: #4a4a4a;
  font-weight: 700;
  font-size: 2rem;
}
a.navbar-item:hover {
  color: #4a4a4a;
}

.form-size {
  width: 70%;
}

.form-title {
  margin-bottom: 2rem;
}

.column.form-container {
  padding: 3rem;
}

.form-container {
  border: solid 2px #18dbd0;
  border-radius: 5px 5px;
  background-color: #f4f4f9;
}

.label {
  color: #4a4a4a;
}

.button.is-link, #saved-resources {
  background-color: #18dbd0;
}

.button.is-link:hover, #saved-resources:hover {
  background-color: #70e6df;
}

.redirect-link {
  margin-top: 2rem;
}

#logout {
  background-color: tomato;
}
#logout:hover {
  background-color: rgb(255, 121, 97);
}

.card {
  background-color: #f4f4f9;
  margin-bottom: 1rem;
}

.resource-name {
  color: #4a4a4a;
  font-size: 1.5rem;
  font-weight: 500;
}

@media only screen and (min-width: 600px) {
}

@media screen and (max-width: 600px) {
  .navbar {
    margin-bottom: 2rem;
  }
  .form-title {
    margin-bottom: 1rem;
  }
  .form-size {
    width: 95%;
  }
  .page-title {
    font-size: 1.5rem;
  }
  .column.form-container {
    padding: 1.5rem;
  }
  .redirect-link {
    margin-top: 1rem;
    font-size: 0.75rem;
  }
}
